image: node:20

default:
  tags:
    - website

before_script:
  - npm ci

pages:
  script:
    - npm run build
    - mv out public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
